# Python
venv/
env/
dl_env/
__pycache__/
*.pyc
*.pyo
*.pyd

# Uploaded/media files
backend/media/

# Large binary model files
backend/vision/services/*.dat

# Local environment variables / secrets
.env
.env.*

# Frontend
frontend/node_modules/
frontend/dist/

# IDE / system files (important)
.vscode/
.idea/
.DS_Store

# Logs
*.log



